html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: black;
    background: black;
}

.container {
    display: flex;
    justify-content: space-between;
}